/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-top {
    //-------------------------------------------------------
    &1 {
        position: relative;
        padding: 100px 0 121px;

        @include tab {
            padding: 59px 0 71px;
        }

        @include sp {
            padding: 41px 0 33px 10px;
        }
    }

    &1::before {
        content: "";
        background: #0080cc;
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        right: 23.3%;
        z-index: -1;
        @include tab {
            right: 13%;
        }
        @include sp {
            right: 10px;
        }
    }
    //-------------------------------------------------------
    &2 {
        padding-top: 94px;
        position: relative;
        overflow: hidden;

        @include tab {
            padding-top: 52px;
        }

        @include sp {
            padding-top: 33px;
        }
    }
    //-------------------------------------------------------
    &3 {
        padding: 90px 0 0;
        @include tab {
            padding: 53px 0 0;
        }

        @include sp {
            padding: 31px 0 0;
        }
    }
    //-------------------------------------------------------
    &4 {
        padding-top: 94px;
        @include tab {
            padding-top: 53px;
        }

        @include sp {
            padding-top: 36px;
        }
    }

    &6 { 
        position: relative;
        overflow: hidden;

        @include sp {
            padding-bottom: 21px;
        }
    }   

    &7 {
        padding: 100px 0 0;
        @include tab {
            padding: 57px 0 0;
        }
        @include sp {
            padding: 15px 0 0;
        }
    }

    &8 {
        padding: 100px 0 88px;
        background: #0080cc;
        color: #fff;
        margin-top: 142px;

        @include tab {
            margin-top: 85px;
            padding: 83px 0 22px;
        }
        @include sp {
            padding: 55px 0 12px;
            margin-top: 0;
        }
    }

    &9 {
        padding: 98px 0 0;
        width: 100%;
        display: inline-block;
        @include tab {
            padding: 58px 0 0;
        }
        @include sp {
            padding: 35px 0;
        }
    }

    &10 {
        padding: 100px 0 0;
        border-bottom: 1px #0080cc solid;
        padding-bottom: 6px;
        @include tab {
            padding: 58px 0 9px;
        }
        @include sp {
            padding: 0 0 7px;
        }
    }
}
